.weather-error {
  display: flex;
  justify-content: space-evenly;
  height: inherit;
  width: inherit;
  align-items: center;
}

.weather-error > p {
  margin-top: 1px;
  flex-grow: 2;
}

.weather-error > SVG {
  flex-grow: 1;
}

.weather-success {
  display: flex;
  height: inherit;
  width: inherit;
  align-items: center;
  justify-content: space-evenly;
}

.weather-image {
  width: 45px;
  height: 45px;
}

.weather-inner {
  display: flex;
  align-items: center;
}

.weather-div {
  /* background-color: green; */
  height: 50px;
  width: 150px;
}

.weather-div-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  width: inherit;
}
